.main-header {
  text-align: center;
  background: #13293d;
  color: #fff;
  font-family: sans-serif;
}

#headerGrad {
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, lightblue, blue);

}

#search-input {
  margin: 10px;
  width: 250px;
}

#searchCity {
  width: 250px;
  margin: 10px;
}

hr {
  width: 250px; 
  border: 1px solid #00446a; 
  border-radius: 5px;
  text-align:  left;
}


main {
  display: flex;
}

aside {
  flex: 30%;
  padding: 20px;
  flex-wrap: wrap;
}

#conditions {
  flex: 70%;
  background-color: #fff;
  border: black;
  border-style: solid;
  padding: 20px;
}

#cityAndDate {
  font-family: sans-serif;
  font-weight: bold;
}

#fiveDay {
  display: inline;
  flex: 70%;
}

#d1 {
  background-color: navy;
  color: white;
}

#d2 {
  background-color: navy;
  color: white;
}

#d3 {
  background-color: navy;
  color: white;
}

#d4 {
  background-color: navy;
  color: white;
}

#d5 {
  background-color: navy;
  color: white;
}
